<h2>Forgot password</h2>
<%= form_tag(forgot_password_path) do %>
	<label for="forgot_password_email">Email</label><br/>
	<div><%= text_field_tag "email", nil, :id => "forgot_password_email" %></div><br/>
	<%= submit_tag "Send password", :class => "submit" %>
<% end %>