<div data-role="page">
	<%= render :partial => "partials/header" %>
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">Questions</li>
		<li data-theme="c">
		  FAQ #1
		</li>
		<li data-theme="c">
		  FAQ #2
		</li>
	</ul>
	<%= render :partial => "partials/footer" %>
</div>