<div data-role="header" data-theme="b">
  <h2>FAQ's</h2>
</div>
<% @faqs.each do |faq| %>
    <div data-role="collapsible">
      <h3><%= faq.question %></h3>
      <p><%= raw render_textile(faq.answer) %></p>
    </div>
<% end %>

<%= render "contact_form" %>