<h2 class="margin_bottom">What are the developers up to?</h2>

<%= image_tag("icons/ajax-loader.gif", :id => "ajax_loader") %>

<div id="priority_3" class="margin_bottom">
  <h3 class="hidden"><strong>High priority tasks</strong></h3>
  <ul class="bullet_list"></ul>
</div>

<div id="priority_2" class="margin_bottom dark_grey">
  <h3 class="hidden"><strong>Medium priority tasks</strong></h3>
  <ul class="bullet_list"></ul>
</div>

<div id="priority_1" class="margin_bottom mid_grey">
  <h3 class="hidden"><strong>Low priority tasks</strong></h3>
  <ul class="bullet_list"></ul>
</div>

<div id="completed_tasks" class="margin_bottom mid_green">
  <h3 class="hidden"><strong>Recently completed tasks</strong></h3>
  <ul class="bullet_list"></ul>
</div>

<div id="priority_4" class="margin_bottom">
  <h3 class="hidden"><strong>Notes from the developers</strong></h3>
  <ul class="bullet_list"></ul>
</div>