.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
config/initializers/mail_settings.rb
config/deploy.rb
config/deploy/*
.project
app/assets/images/psd/*
public/assets/uploads/*
.DS_Store
.rvmrc
episodecalendar.sublime-workspace