.subscription_form {
  width: 450px;
  margin: 0 auto;
}
.grouped {
  border: none;
  margin-bottom: 5px;
}
.grouped label {
  float: left;
  width: 100px;
}
.grouped select {
  height: 28px;
  width: 102px;
}
.grouped input.submit {
  margin-left: 110px;
}
.subscription_form .error {
  background: none repeat scroll 0 0 #BD0C75;
  border: 1px solid;
  border-radius: 5px 5px 5px 5px;
  color: SeaShell;
  margin-bottom: 5px;
  padding: 5px 0;
  text-align: center;;
}
.grouped .radio_button {
  margin-top: 5px;
}
.grouped .radio_text {
  display: inline;
  vertical-align: middle;
}
.grouped .plan_info {
  color: #23B0F1;
  font-size: 14px;
}


/* *** WHITE/DARK PRICING TABLES *** */

.pricing_table table {
  color: #666666;
  width: 100%;
  background: #f8f8f8;

  border: 1px solid #ccc;

  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  border-collapse:collapse;
  padding:0px;margin:0;
}

.w_table_l_grey{
  background-color: #f6f6f6;
}
.w_table_d_grey{
  background-color: #eeeeee;
}

.pricing_table table th {
  border-left: 1px dotted #D5D5D5;
  border-right: 1px dotted #D5D5D5;
  border-top: 1px dotted #D5D5D5;
  color: #2F2F2F;
  font-size: 23px;
  height: 90px;
  background: #f6f6f6;
  line-height: 120%;
}

.pricing_table table th span {
  color: #23B0F1;
  font-size: 14px;}

.pricing_table table tr {
  height: 30px;
  text-align: center;}

.pricing_table table .grey {
  background-color:#fff;}

.pricing_table table tr td {
  border-left: 1px dotted #D5D5D5;
  border-right: 1px dotted #D5D5D5;

  font-weight: bold;}

.pricing_table .pricing_btn {
  border-bottom: 1px solid #D5D5D5;
  height: 80px !important;
  text-align:center;
}

.tsc_pricingtable06 table {
  width: 100%;
  background-color: #484848;
  border: 1px solid #ccc;

  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 8px 0 10px -10px rgba(0, 0, 0, .15), -8px 10px 10px -10px rgba(0, 0, 0, .15);
  border-collapse:collapse;
  padding:0px;margin:0;

}

.d_table_l_grey{
  background-color:#303030
}
.d_table_d_grey{
  background-color:#3a3a3a
}