<script type="text/javascript">
$(document).ready(function() {
   new Highcharts.Chart({
      chart: {
         renderTo: "this_week",
         defaultSeriesType: "bar",
         margin: [ 10, 20, 20, 100],
         borderWidth: 0,
         plotBorderWidth: 0,
         width: 500,
         height: 100,
         shadow: false,
         plotShadow: false,
         backgroundColor: "#F4F4F4"
      },
			title: {
			   text: null
			},
			credits: {
         enabled: false
      },
      xAxis: {
         categories: ["This week", "Last week"],
         labels: {
            align: "right",
            style: {
                font: "normal 13px Verdana, sans-serif"
            }
         }
      },
      plotOptions: {
      	series: {
      		pointWidth: 25,
      		color: "#da0c87",
					borderWidth: 0,
					shadow: false
      	}
      },
      yAxis: {
         min: 0,
         title: {
            text: null
         }
      },
      legend: {
         enabled: false
      },
      tooltip: {
      	enabled: false
      },
      series: [{
         name: "Users",
         data: [<%= users_this_week %>, <%= users_last_week %>],
         dataLabels: {
            enabled: true,
            color: "#000000",
            formatter: function() {
               return this.y;
            },
            style: {
               font: "normal 13px Verdana, sans-serif"
            }
         }
      }]
   });
   
	new Highcharts.Chart({
      chart: {
         renderTo: "this_month",
         defaultSeriesType: "bar",
         margin: [ 10, 20, 20, 100],
         borderWidth: 0,
         plotBorderWidth: 0,
         width: 500,
         height: 100,
         shadow: false,
         plotShadow: false,
         backgroundColor: "#F4F4F4"
      },
			title: {
			   text: null
			},
			credits: {
         enabled: false
      },
      xAxis: {
         categories: ["This month", "Last month"],
         labels: {
            align: "right",
            style: {
                font: "normal 13px Verdana, sans-serif"
            }
         }
      },
      plotOptions: {
      	series: {
      		pointWidth: 25,
      		color: "#da0c87",
					borderWidth: 0,
					shadow: false
      	}
      },
      yAxis: {
         min: 0,
         title: {
            text: null
         }
      },
      legend: {
         enabled: false
      },
      tooltip: {
      	enabled: false
      },
      series: [{
         name: "Users",
         data: [<%= users_this_month %>, <%= users_last_month %>],
         dataLabels: {
            enabled: true,
            color: "#000000",
            formatter: function() {
               return this.y;
            },
            style: {
               font: "normal 13px Verdana, sans-serif"
            }
         }
      }]
   });
});
</script>
<div id="this_week"></div>
<div id="this_month"></div>