<%
prev_date = current - 1.month
prev_url = public ? "/public/#{prev_date.year}/#{prev_date.month}" : "/calendar/#{prev_date.year}/#{prev_date.month}"
prev_link = link_to(raw("<strong>&laquo; #{Date::MONTHNAMES[prev_date.month]}</strong>"), prev_url)

next_date = current + 1.month
next_url = public ? "/public/#{next_date.year}/#{next_date.month}" : "/calendar/#{next_date.year}/#{next_date.month}"
next_link = link_to(raw("<strong>#{Date::MONTHNAMES[next_date.month]} &raquo;</strong>"), next_url)

current_month = "#{Date::MONTHNAMES[current.month]}"
%>
<table id="month_navigation" width="100%">
	<tr>
		<td width="44%" align="right"><%= content_tag(:h3, prev_link) if !@prev_limit %></td>
		<td><%= content_tag(:h2, current_month) %></td>
		<td width="44%"><%= content_tag(:h3, next_link) if !@next_limit %></td>
	</tr>
</table>
<%= content_tag(:p, raw("<strong>#{@current.year}</strong>"), :class => "month") %>