<ul id="share">
  <li id="googleplus"></li>
  <li id="twitter"></li>
  <li id="facebook"></li>
</ul>

<script>
$('#googleplus').sharrre({
  share: {
    googlePlus: true
  },
  title: '+1',
  url: 'http://www.episodecalendar.com/',
  text: 'Keep track of all your TV shows!',
  enableHover: false,
  click: function(element, options){
    window.open("https://plusone.google.com/_/+1/confirm?hl=en&url="+encodeURIComponent(options.url), "", "toolbar=0, status=0, width=900, height=500");
  }
});
$('#twitter').sharrre({
  share: {
    twitter: true
  },
  title: 'Tweet',
  url: 'http://www.episodecalendar.com/',
  text: 'Keep track of all your TV shows!',
  enableHover: false,
  click: function(element, options){
    window.open("https://twitter.com/intent/tweet?text="+options.text+" via @sharrrejs&url="+encodeURIComponent(options.url), "", "toolbar=0, status=0, width=650, height=360");
  }
});
$('#facebook').sharrre({
  share: {
    facebook: true
  },
  title: 'Like',
  url: 'http://www.episodecalendar.com/',
  text: 'Keep track of all your TV shows!',
  enableHover: false,
  click: function(element, options){
    window.open("http://www.facebook.com/sharer.php?u="+encodeURIComponent(options.url)+"&t="+options.text+"", "", "toolbar=0, status=0, width=900, height=500");
  }
});
</script>