<ul id="share">
  <li class="item">
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-url="<%= HOST %>" data-text="Keep track of all your TV shows:" data-via="episodecalendar.com" data-related="frexuz">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </li>
  <li class="item">    
    <!-- Place this tag where you want the +1 button to render -->
    <g:plusone size="tall" href="<%= HOST %>"></g:plusone>
    
    <!-- Place this render call where appropriate -->
    <% #https://plusone.google.com/_/+1/fastbutton?url=http%3A%2F%2Fepisodecalendar.com%2F&size=tall&count=true %>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </li>
  <li class="item">
    <iframe src="http://www.facebook.com/plugins/like.php?app_id=236740686371391&amp;href=<%= HOST %>&amp;send=false&amp;layout=box_count&amp;width=46&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=61" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:46px; height:61px;" allowTransparency="true"></iframe>
  </li>
  <li class="item">
    <a href='http://www.pledgie.com/campaigns/16406'><img alt='Click here to lend your support to: EpisodeCalendar and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/16406.png?skin_name=chrome' border='0' /></a>
    <p>Please donate for server costs<br />and further development.</p>
  </li>
</ul>