<div data-theme="a" data-role="footer" data-position="fixed">
  <div data-role="navbar" data-iconpos="top">
    <ul>
      <li>
        <a href="#page1" data-theme="" data-icon="grid">Calendar</a>
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="star">My shows</a>
      </li>
      <li>
        <a href="#page1" data-theme="" data-icon="arrow-u">Menu</a>
      </li>
    </ul>
  </div>
</div>