<div data-theme="a" data-role="header">
  <div class="ui-grid-b">
      <div class="ui-block-a align-left">
          <a data-role="button" href="#page1" data-icon="arrow-d" data-inline="true" data-iconpos="left">Menu</a>
      </div>
      <div class="ui-block-b center">
        <%= link_to(image_tag("logos/tv.png", :width => 41), root_path, :id => "logo", :"data-transition" => "slide", :"data-direction" => "reverse") %>
      </div>
      <div class="ui-block-c align-right">
          <a data-role="button" href="#page1" data-icon="search" data-inline="true" data-iconpos="left">Search</a>
      </div>
  </div>
</div>