<div data-theme="a" data-role="header">
  <div class="ui-grid-a">
    <div class="ui-block-a">
      <%= link_to(image_tag("logos/transparent_logo.png", :width => 150), root_path, :id => "logo", :"data-transition" => "slide") %>
    </div>
    <div class="ui-block-b">
      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup" data-mini="true">
          <label for="searchinput3">
          </label>
          <input id="searchinput3" placeholder="" value="" type="search">
        </fieldset>
      </div>
    </div>
  </div>
</div>