/* REQUEST --------------------------------------------------------------------------------------------------------------------------- */

#request_header {
  overflow: hidden;
  height: 115px;
}

#request_header h1 {
  margin: 0 0 18px 0;
}

#requested_shows {
  margin: 20px 0 0 0;
}

  #requested_shows li {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #333;
    overflow: hidden;
  }
  
  #requested_shows p {
    float: left;
    font-size: 13px;
    margin: 0;
    width: 800px;
  }
  
  #requested_shows p.add {
    float: right;
    text-align: right;
    width: 300px;
    padding: 0 0 3px 0;
  }