@import "mixins";

.dropdown {
  position: relative;
  .arrow {
    border-color: #fff transparent transparent transparent;
    border-style: solid;
    border-width: 6px;
    height:0;
    width:0;
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 0 0 7px;
  }
  ul {
    display: none;
    position: absolute;
    top: 25px;
    right: 0;
    @include linear-gradient(#111, #222);
    z-index: 1;
    white-space: nowrap;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 5px 5px;
    overflow: hidden;
  }
  li {
    border-top: 1px dotted #666;
    &:first-child {
      border: 0;
    }
  }
  a {
    color: #fff;
    display: block;
    padding: 6px 20px 6px 10px;
    &:hover {
      background: #333;
    }
  }
  &:hover {
    .awesome {
      border-radius: 5px 5px 0 0;
    }
    ul {
      display: block;
    }
  }
}