@import "mixins";

/* PROGRESS ------------------------------------------------------------------------------------------------------------------------------ */

#progress {
  padding: 0.5em;
  clear: both;
}
  #progress .header {
    font-weight: bold;
    overflow: hidden;
    display: none;
  }
  
  #progress .footer {
    display: none;
  }
  
    #progress .status {
      height: 16px;
      width: 165px;
      overflow: hidden;
      display: inline-block;
      background: image-url("sprites/smileys.png") 0 0 no-repeat;
      margin-left: 6px;
      float: left;
    }
    
    #progress .header p {
      margin: 0;
      line-height: 16px;
      float: left;
    }
    
    #progress .cry      { background-position: 0  0; }
    #progress .mad      { background-position: 0 -16px; }
    #progress .sad      { background-position: 0 -32px; }
    #progress .neutral  { background-position: 0 -48px; }
    #progress .smile    { background-position: 0 -64px; }
    #progress .grin     { background-position: 0 -80px; }
    #progress .cool     { background-position: 0 -96px; }
    
    #progress .header small {
      display: inline-block;
      float: right;
      color: #999;
      font-size: 10px;
      font-weight: normal;
      padding: 5px;
    }
    

  #progress_bar_wrapper {
    border: 1px #aaa solid;
    padding: 1px;
    display: none;
    margin: 0 0 5px 0;
  }
  
    #progress_bar {
      overflow: hidden;
      height: 32px;
      @include linear-gradient($progress_red_dark, $progress_red_light);
    }
    
      #progress_bar .bar {
        float: left;
        @include linear-gradient($progress_green_dark, $progress_green_light);
        text-align: right;
        min-width: 30px;
      }
      
        #progress_bar .bar p {
          line-height: 32px;
          margin: 0;
          font-weight: bold;
          font-size: 10px;
          color: #fff;
          padding: 0 0.5em;
        }
        
  .progress_small_bar_wrapper {
    border: 1px #aaa solid;
    padding: 1px;
    margin: 0;
  }
  
    .show_list li.user_show {
      height: auto;
    }
    
    .progress_small_header {
      font-size: 10px;
      color: #666;
      margin: 5px 0 0 0;
    }
  
    .progress_small .progress_bar {
      overflow: hidden;
      height: 24px;
      @include linear-gradient($progress_red_dark, $progress_red_light);
    }
    
      .progress_small .progress_bar .bar {
        float: left;
        @include linear-gradient($progress_green_dark, $progress_green_light);
      }
      
        .show_list li .progress_small .progress_bar .bar p {
          line-height: 24px;
          margin: 0;
          font-weight: bold;
          font-size: 10px;
          color: #fff;
          padding: 0 0.5em;
          text-align: right;
        }