@import "mixins";

/* TABLES ----------------------------------------------------------------------------------------------------------------------- */

th {
  @include linear-gradient(#e96fa2, #900e4e);
}

th div { 
  text-shadow: 1px 1px 0px #333;
  border: 1px solid #ba4879;
  margin: 1px;
  text-align: left;
  padding: 4px 12px;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
  color: #fff;
  line-height: 16px;
}

th div a {
  display: block !important;
  color: #fff !important;
  text-decoration: underline !important;
}

th img.icon {
  margin: 6px 6px 0 0;
  float: right;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

th div img.icon {
  margin: 0;
  float: none;
}

th.sort img.icon { background-position: -96px -16px; }
th.asc img.icon { background-position: -80px -16px; }
th.desc img.icon { background-position: -64px -16px; }

.even td, .even { background-color: #eee; }
.odd td, .odd { background-color: #fff; }
.even_red td, .even_red td a { color: #f00 !important; }
.odd_red td, .odd_red td a { color: #f00 !important; }