#slides {
  background: image-url("start/slides_frame.png") 0 0 no-repeat;
  width: 722px;
  position: relative;
  text-align: center;
  margin: 0 auto;
    padding: 16px 0;
  .slides_container {
    height: 342px;
    margin: 0 76px;
    width: 570px;
    overflow: hidden;
  }
  .slides_container .slide {
    height: 342px;
    width: 570px;
    overflow: hidden;
    position: relative;
  }
  .next, .prev {
    display: block;
    height: 43px;
    left: 36px;
    position: absolute;
    top: 170px;
    width: 24px;
    z-index: 101;
  }
  .next {
    left: 662px;
  }
  .caption {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 500;
    text-align: left;
    p {
      font-weight: bold;
      margin: 0;
      text-shadow: 0 1px 0 #000;
    }
  }
  .pagination {
    display: inline-block;
    width: auto;
    margin: 30px 0 0 0;
  }
  .pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
    padding: 0;
    min-height: 0;
    a {
      background-image: image-url("start/pagination.png");
      background-position: 0 0;
      display: block;
      float: left;
      height: 0;
      overflow: hidden;
      padding-top: 12px;
      width: 12px;
    }
    &.current a {
      background-position: 0 -12px;
    }
  }
}