/* TAG CLOUD ----------------------------------------------------------------------------------------------------------------------------- */

#tag_cloud {
  color: #ccc;
  text-align: center;
}

#tag_cloud li {
  display: inline;
  line-height: 2em;
  border: 0;
}

#tag_cloud a {
  padding: 3px;
  text-decoration: underline;
  line-height: 1.1;
}

#tag_cloud a.tag1  { font-size: 0.80em; font-weight: 100; color: #666; }
#tag_cloud a.tag2  { font-size: 0.85em; font-weight: 200; color: #777; }
#tag_cloud a.tag3  { font-size: 0.90em; font-weight: 300; color: #888; }
#tag_cloud a.tag4  { font-size: 0.95em; font-weight: 400; color: #999; }
#tag_cloud a.tag5  { font-size: 1.00em; font-weight: 500; color: #aaa; }
#tag_cloud a.tag6  { font-size: 1.10em; font-weight: 600; color: #bbb; }
#tag_cloud a.tag7  { font-size: 1.40em; font-weight: 700; color: #ccc; }
#tag_cloud a.tag8  { font-size: 1.80em; font-weight: 800; color: #ddd; }
#tag_cloud a.tag9  { font-size: 2.15em; font-weight: 900; color: #eee; }
#tag_cloud a.tag10 { font-size: 2.40em; font-weight: 900; color: #fff; }

#tag_cloud a:hover {
  color: #66f;
  background-color: #eee;
}