/* TOOLTIP
 * ----------------------------------------------------------------------------------------------------------------------- */

.tip { cursor: help; }

.qtip h3 {
  font-size: 1.2em !important;
  font-family: arial, verdana, serif !important;
  font-weight: bold !important;
  margin-bottom: 0.5em !important;
}

.qtip-content div {
  font-size: 0.9em !important;
  margin: 0.5em 0;
  color: #f00;
}

.qtip-content div.seen {
  color: #3DB901;
}