/* TOOLTIP
 * ----------------------------------------------------------------------------------------------------------------------- */

.tip { cursor: help; }

.qtip h3 {
  font-size: 1.2em !important;
  font-family: arial, verdana, serif !important;
  font-weight: bold !important;
  margin-bottom: 0.5em !important;
}