<div class="center">
	<%= image_tag "logos/transparent_logo_inverted.png" %>
</div>
<a href="<%= new_user_session_path %>" data-transition="slide" data-role="button">Log in</a>
<a href="<%= new_user_registration_path %>" data-transition="slide" data-role="button" data-theme="b">Sign up</a>