<div class="center">
	<%= image_tag "logos/transparent_logo_inverted.png" %>
</div>
<a href="<%= trends_path %>" data-transition="slide" data-role="button" data-theme="a">Trends</a>
<a href="<%= faqs_path %>" data-transition="slide" data-role="button" data-theme="a">FAQ</a>
<a href="<%= new_user_session_path %>" data-transition="slide" data-role="button">Login</a>