<% title "Hidden Episodes" %>

<table>
  <tr>
    <th>User</th>
    <th>Season</th>
    <th>Episode</th>
  </tr>
  <% for hidden_episode in @hidden_episodes %>
    <tr>
      <td><%= hidden_episode.user_id %></td>
      <td><%= hidden_episode.season_id %></td>
      <td><%= hidden_episode.episode_id %></td>
      <td><%= link_to "Destroy", hidden_episode, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

