<div data-role="page" id="page1">
	<%= render :partial => "partials/header" %>
	<ul data-role="listview" data-divider-theme="b" data-inset="true">
		<li data-role="list-divider" role="heading">Divider</li>
		<li data-theme="c">
		  <a href="<%= start_path %>" data-transition="slide">Start</a>
		</li>
	</ul>
	<%= render :partial => "partials/footer" %>
</div>