//Variables
//-------------------------------------------------------------------------

$pink_theme_color: #da0c87;
$blue_theme_color: #6481E7;
$light_blue_theme_color: #aaf;

$progress_red_dark: #7b1d15;
$progress_red_light: #dc6454;
$progress_green_dark: #147b2a;
$progress_green_light: #55dc76;

//Mixins
//-------------------------------------------------------------------------

@mixin border-radius($values) {
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  border-radius: $values;
}

@mixin box-shadow($values) {
  -moz-box-shadow: $values;
  -o-box-shadow: $values;
  -webkit-box-shadow: $values;
  box-shadow: $values;
}

@mixin linear-gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient($from, $to);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background: -webkit-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
}