//Variables
//-------------------------------------------------------------------------

$pink_theme_color: #da0c87;
$blue_theme_color: #6481E7;
$light_blue_theme_color: #aaf;

$progress_red_dark: #7b1d15;
$progress_red_light: #dc6454;
$progress_green_dark: #147b2a;
$progress_green_light: #55dc76;

//Mixins
//-------------------------------------------------------------------------

@mixin border-radius($values) {
  -moz-border-radius: $values;
  -webkit-border-radius: $values;
  border-radius: $values;
}

@mixin box-shadow($values) {
  -moz-box-shadow: $values;
  -o-box-shadow: $values;
  -webkit-box-shadow: $values;
  box-shadow: $values;
}

@mixin linear-gradient($from, $to) {
  background: $from;
  background: -moz-linear-gradient($from, $to);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0, $from),color-stop(1, $to));
  background: -webkit-linear-gradient($from, $to);
  background: -o-linear-gradient($from, $to);
}

@mixin opacity($value) {
  filter: alpha(opacity=($value * 100));
  -moz-opacity: $value;
  opacity: $value;
}

@mixin box-sizing($value: border-box) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
}

@mixin transition($value: all 0.3s ease) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin min-height($value) {
  height: auto !important;
  height: $value;
  min-height: $value;
}

@mixin inline-block() {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
