/* ...
*= require_self
*/

/* -- undo browser HTML defaults -- */
:link,:visited {text-decoration: none;}
ul,ol {list-style: none;}
h1,h2,h3,h4,h5,h6,pre,code,p,input {font-size: 1em;}
ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0;}
a img,:link img,:visited img {border: none;}
form {display:inline;}
input::-moz-focus-inner { border: 0; }

/* -- clearfix -- */
.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac */
* html .clearfix {height: 1%;}
.clearfix { display: block; } 

/* ICONS SPRITES----------------------------------------------------------------------------------------------------------------- */

/* 0 16 32 48 64 80 96 112 128 144 160 */
img.icon { position: relative; top: 3px; }
td img.icon, th img.icon { top: 0; }

.icon { background-image: image-url("sprites/icons.png?5") !important; background-position: 0 0; background-repeat: no-repeat; }
.blank { background-position: 16px 16px; }
.arrow_down { background-position: 0 0; }
.plus_button { background-position: -16px 0; }
.calendar { background-position: -32px 0px; }
.heart { background-position: -48px 0px; }
.vcard { background-position: -64px 0px; }
.blocks { background-position: -80px 0px; }
.users { background-position: -96px 0px; }
.counter { background-position: -112px 0px; }
.information { background-position: -128px 0; }
.crown { background-position: -144px 0px; }
.minus_shield { background-position: -160px 0px; }

.cross { background-position: 0 -16px; }
.cross_small { background-position: -16px -16px; }
.mail_exclamation { background-position: -32px -16px; }
.mail_minus { background-position: -48px -16px; }
.sort_asc { background-position: -64px -16px; }
.sort_desc { background-position: -80px -16px; }
.sort_small { background-position: -96px -16px; }
.globe { background-position: -112px -16px; }
.lock { background-position: -128px -16px; }
.tick { background-position: -144px -16px; }

.question { background-position: -64px -32px; }
.movie_folder { background-position: -80px -32px; }
.television { background-position: -96px -32px; }
.eye { background-position: -112px -32px; }
.status_red { background-position: -128px -32px; }
.status_green { background-position: -144px -32px; }
.status_normal { background-position: -160px -32px; }

.arrow_circle { background-position: -80px -48px; }
.clock { background-position: -96px -48px; }
.fire { background-position: -112px -48px; }
.tick_small { background-position: -128px -48px; }
.television_off { background-position: -144px -48px; }
.television_on{ background-position: -160px -48px; }

.user_big { background-position: 0px -64px; }
.mail_big { background-position: -24px -64px; }
.feed_big { background-position: -48px -64px; }
.key { background-position: -72px -64px; }
.monitor { background-position: -96px -64px; }
.log { background-position: -120px -64px; }
.battery { background-position: -144px -64px; }

.globe_big { background-position: 0px -88px; }
.calendar_big { background-position: -24px -88px; }
.terminal { background-position: -48px -88px; }
.zone { background-position: -72px -88px; }
.smiley { background-position: -96px -88px; }
.plus_big { background-position: -120px -88px; }
.tick_big { background-position: -144px -88px; }

/* TAGS ------------------------------------------------------------------------------------------------------------------------- */

html {}

body {
  background: #000;	
	margin: 0;
	padding: 0;
	cursor: default;
	
	font-size: 0.75em;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	color: #000;
}

img.border {
	width: auto;
	padding: 2px;
	border: 1px solid #666;
}

img.ajaxLoader {
  display: none;
  background-position: 100px 100px;
}

p {
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
}

a,
a:link,
a:visited,
a:hover {
	color: #6481E7;
}

span.cancelled {
  border-bottom: 1px solid #aaf;
  color: #FF0000;
  font-weight: bold;
}

h1, h2 { margin-bottom: 10px; }

label {
  cursor: pointer;
  color: #555;
  display: inline-block;
  font-size: 11px;
  padding: 5px;
}

label.disabled {
  color: #999;
  text-decoration: line-through;
}

label.highlighted {
  font-weight: bold;
  color: green;
}

.label {
  color: #999;
  display: inline-block;
  font-size: 11px;
  padding: 5px 0;
}

ul.list {
  padding-left: 14px;
  list-style-type: disc;
  line-height: 1.5em;
}

.list li span {
  font-weight: bold;
}

blockquote p span {
  font-weight: bold;
  font-size: 15px;
  color: #000;
  font-style: normal;
}

blockquote p {
  color: #666;
  font-style: italic;
}

/* GRAPHS ----------------------------------------------------------------------------------------------------------------------- */

.graphBox h3 span {
  padding: 6px 12px;
  font-size: 13px;
  font-family: arial;
  color: #fff;
  display: block;
}

.graphBox .graph { padding: 10px; }

.graphBox h4 { text-align: center; }

/* TABLES ----------------------------------------------------------------------------------------------------------------------- */

th, .graphBox h3 {
  background: #c33977 image-url("sprites/th_bg.png?1") 0 0 no-repeat;
}

th div, .graphBox h3 span {
  background: image-url("sprites/th_bg.png?1") 100% 100% no-repeat;  
  text-shadow: 1px 1px 0px #333;
}

th div {
  text-align: left;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  font-family: arial;
  color: #fff;
  text-shadow: 1px 1px 0px #333;
}

th div a {
  display: block !important;
  color: #fff !important;
  text-decoration: underline !important;
}

th img.icon {
  margin: 6px 6px 0 0;
  float: right;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

th div img.icon {
  margin: 0;
  float: none;
}

th.sort img.icon { background-position: -96px -16px; }
th.asc img.icon { background-position: -80px -16px; }
th.desc img.icon { background-position: -64px -16px; }

.even td, .even { background-color: #eee; }
.odd td, .odd {	background-color: #fff; }
.even_red td, .even_red td a { color: #f00 !important; }
.odd_red td, .odd_red td a { color: #f00 !important; }

/* FORMS ------------------------------------------------------------------------------------------------------------------------ */

input {
  background: #fff;
	font-size: 14px;
	color: #666;
	*color: #000;
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999 #ccc #ccc #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #ddd inset;
	-webkit-box-shadow: 1px 1px 2px #ddd inset;
	box-shadow: 1px 1px 2px #ddd inset;
	width: 185px;
	padding: 6px 10px;
}

.select_wrapper {
  background: #fff;
	color: #666;
	*color: #000;
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999 #ccc #ccc #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #ddd inset;
	-webkit-box-shadow: 1px 1px 2px #ddd inset;
	box-shadow: 1px 1px 2px #ddd inset;
	width: 185px;
	padding: 6px 10px;
}

  .select_wrapper select {
    width: 185px;
    border: 0;
    font-size: 14px;
  }

.form_element { margin: 0 0 10px 0; }

input:focus,
textarea:focus {
  color: #000;
	border-color: #333 #999 #999 #333;
}

input.search { width: 300px; }
input.long { width: 400px; }

textarea {
	font: 0.9em Tahoma, Verdana, Helvetica, Arial, Sans-serif;
  background: #fff;
	font-size: 14px;
	color: #666;
	*color: #000;
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: #999 #ccc #ccc #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px #ddd inset;
	-webkit-box-shadow: 1px 1px 2px #ddd inset;
	box-shadow: 1px 1px 2px #ddd inset;
	padding: 6px 10px;
}

select {
	font: 0.9em Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	color: #000;
	background-color: #fff;
	border: 1px #ccc solid;
	width: 205px;
}

input.checkbox {
  width: auto;
  border: 0 none;
}

span.ui-checkbox {
	position: relative;
	top: 3px;
}

fieldset {
  background: #f6f6f6;
  border: 1px #eee solid;
}

legend {
  font-family: Arial;
  font-size: 2em;
  letter-spacing: -1px;
  padding: 0 0 1px 20px;
  text-shadow: 1px 1px 0 #CCCCCC;
}

  legend.with_icon {
    margin: 0 0 0 15px !important;
  }
  
  legend.with_icon img {
    margin: -10px 10px 0 -58px; 
    position: absolute;
    height: 48px;
    width: 48px;
  }
  
fieldset .group { clear: both; }
fieldset #errorExplanation,
fieldset #notice
{
  margin-bottom: 0;
}

.date_select select { width: auto; }

.submit {
	background: image-url("button_pink.png?1") no-repeat;
	color: #fff;
	cursor: pointer;
	width: 120px;
	border: none;
	height: 25px;
	font-size: 0.9em;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 1px 1px 0 #333;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.submit {
  display: inline-block;
  color: #fff !important;
  line-height: 25px;
  text-align: center;
}

.submit:focus { color: #fff; }

.delete {
	font: 0.9em Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	color: #660000;
	border: none;
	background: none;
	text-align: left;
	font-weight: bold;
	width: auto;
	cursor: pointer;
}

/* CLASSES ---------------------------------------------------------------------------------------------------------------------- */

.center { text-align: center; }
.center div { margin: 0 auto; }

.margin_top { margin-top: 20px;	}
.margin_bottom { margin: 0 0 20px 0; }
.margin_top_big { margin-top: 50px;	}
.margin_bottom_big { margin: 0 0 50px 0 !important; }

.move_up { margin-top: -16px; }
.group { overflow: hidden; }

.width_50 { width: 50%; float: left; }
.width_33 { width: 33%; float: left; }
.width_34 { width: 34%; float: left; *margin-left: -1px; }
.width_66 { width: 66%; float: left; }

.with_icon {
  margin-bottom: 20px !important;
  padding-left: 58px !important;
}

.with_icon img {
  margin: -10px 10px 0 -58px; 
  position: absolute;
  height: 48px;
  width: 48px;
}

.small { font-size: 0.8em; }
.grey { color: #bbb; text-shadow: none; }
a.red, .red { color: #f00; }
.green { color: #990; }
a.alternative {
  color: #000;
  border-bottom: 1px solid #aaf;
}

.float_left, .column { float: left; }
.float_right { float: right; }

.strike { text-decoration: line-through; }

.half {
  float: left;
  margin-right: 5em;
}

.box {
  background: #f6f6f6;
  border: 1px #eee solid;
}

.boxes {
  overflow: hidden;
}

  #page .boxes h2 { text-shadow: 1px 1px 0 #aaa; }

  .boxes .box {
  	background: #fff image-url("box.png?1") 50% 0 no-repeat;
  	border: 0;
  	width: 365px;
  	padding: 20px;
  	float: left;
  	text-align: center;
  	min-height: 325px;
    height: auto !important;
    height: 325px;
  }
  
  .box input { text-align: center; }
  
.pad { padding: 2em; overflow: hidden; }
.pad_small { padding: 1em; overflow: hidden; }

.bar {
  overflow: hidden;
  position: relative;
}

.nowrap { white-space: nowrap; }

.entity { font-family: Arial; }

#print {
  position: absolute;
  top: 42px;
  z-index: 1;
  background-position: -160px -16px;
  padding: 0 0 0 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  margin: 0 0 0 1220px;
}

.button {
	background: #da0c87;
	background: -moz-linear-gradient(bottom, #830952, #da0c87);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(131,9,82)), color-stop(1, rgb(218,12,136)));
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#830952', EndColorStr='#da0c87', GradientType='0');
	
	-moz-box-shadow: 0 0 3px #999;
  
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	color: #fff !important;
	font-weight: bold;
	padding: 0.3em 1em;
	margin: 0 3px;
	display: inline-block;
	
	font-family: arial, sans-serif;
}

.button.green {
	background: #008221;
	background: -moz-linear-gradient(bottom, #008221, #00ca34);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0, 130, 33)), color-stop(1, rgb(0, 202, 52)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#008221', EndColorStr='#00ca34', GradientType=0);
}	

.button:hover {
	/*background: #830952;
	background: -moz-linear-gradient(bottom, #da0c87, #830952);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(218,12,136)), color-stop(1, rgb(131,9,82)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#da0c87', EndColorStr='#830952', GradientType=0);*/
	-moz-box-shadow: 0 0 2px #000;
}	


a.big_button {
	display: block;
	width: 252px;
	height: 80px;
	background: image-url("big_button.png?1");
	font-size: 26px;
	letter-spacing: -2px;
	text-align: center;
	color: #fff;
	line-height: 84px;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

/* CONTAINERS ----------------------------------------------------------------------------------------------------------------------- */

#container {
	padding: 0 0 0 0;
	margin: 0 auto;
}

body.start #page_container { 
  background: #fff image-url("gradients/page_gradient.jpg?1") 0 0 repeat-x;
  padding-bottom: 0;
}

body.start #page { 
  position: relative;
}

body.show_page #page_container { 
  background: #fff image-url("gradients/show_page_gradient.png?1") 0 0 repeat-x;
}

body.info #page_container { 
  background: #fff image-url("gradients/info_page_gradient.png?1") 0 0 repeat-x;
}

body.settings #page_container { 
  background: #fff image-url("gradients/settings_page_gradient.png?1") 0 0 repeat-x;
}

body.admin #page_container { 
  background: #fff image-url("gradients/settings_page_gradient.png?1") 0 0 repeat-x;
}

#page_container {
	background: #fff image-url("shadow.gif?2") 0 0 repeat-x;
	padding: 26px 0 50px 0;
	position: relative;
}

#page {
	width: 1280px;
	margin: 0 auto;
}

#page h1 {
	font-family: Arial;
	letter-spacing: -1px;
	font-size: 2.0em;
	text-shadow: 1px 1px 0px #ccc;
	padding: 10px 0 0 0;
	font-weight: normal;
}

#page h2 {
	margin: 0 0 10px 0;
	padding: 0 0 1px 0;
	font-family: Arial;
	letter-spacing: -1px;
	font-size: 2.0em;
	text-shadow: 1px 1px 0px #ccc;
	font-weight: normal;
}

#page h3 {
	font-family: Arial;
}

#page li { margin: 0 0 0 0; }

.note_wrapper {
  float: right;
  background: #000;
  border: 5px #000 solid;
  color: #fff;
	width: 380px;
	position: relative;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
  -moz-box-shadow: 0 2px 4px #999;
  -webkit-box-shadow: 0 2px 4px #999;
  box-shadow: 0 2px 4px #999;
}

#trends {
  overflow: hidden;
}

#trends .note_wrapper {
  float: left;
  width: auto;
  margin: 0 8px;
}

  #trends dl.note {
    width: 390px;
  }

    #trends dl dt {
      float: left;
      width: 300px;
    }
  
    #trends dl dd {
      float: left;
      width: 70px;
      text-align: right;
    }

#status_icon {
  float: right;
  margin: 22px 30px 0 0;
  _margin-right: 10px;
  width: 64px;
  text-align: center;
}

#status_icon span {
  font-weight: bold;
  font-size: 0.8em;
  display: block;
}

#status_icon span.green { color: #7cba3b; }
#status_icon span.red { color: #e25a46; }

.note {
	float: left;
	width: 250px;
}

  .note li,
  .note dt {
  	line-height: 1.5em;
  	padding: 3px 5px 3px 12px;
  	background: image-url("line_separator.png?1") 0 0 no-repeat;
  }
  
  .note dd {
  	padding: 3px 0;
  	background: image-url("line_separator.png?1") 0 0 no-repeat;
  }
  
  .note li:first-child,
  .note dt:first-child,
  .note dt:first-of-type,
  .note dd:first-child,
  .note dd:first-of-type
   { background: none; }

    .note span {
      font-size: 10px;
      color: #555;
      line-height: 1;
    }

    .note span.green { color: #0c0; }
    .note span.red { color: #d00; }

#edit_link {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
  background: #000;
  border-color: #000;
  border-style: solid;
  border-width: 5px 5px 0;
  display: inline-block;
  font-size: 10px;
  padding: 0px 12px 4px;
  position: absolute;
  right: 10px;
  top: -23px;
}

#notice {
	margin: 20px 0;
	padding: 10px;
	font-weight: bold;
	border: 2px #84fd8d solid;
	background-color: #dbffde;
	color: #318b00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#big_notice {
  height: 300px;
  padding-top: 100px;
  text-align: center;
}

  #big_notice h1 {
    font-size: 3em;
    margin-bottom: 1em;
  }
  
  #big_notice h2 {
    font-size: 2em;
    margin-bottom: 3em;
  }
  
  #big_notice h3 {
    font-size: 1.5em;
    margin: 1em 0;
  }
  
  #big_notice h3 a {
    border-bottom: 1px solid #000;
  }
  
  #big_notice em, #big_notice span {
    color: #f00;
    font-style: normal;
  }

#error, #errorExplanation, #alert {
	margin: 20px 0;
	padding: 10px;
	font-weight: bold;
	border: 2px #fd8484 solid;
	background-color: #ffdbdb;
	color: #c50000;
  -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: left;
	clear: both;
}

#footer #alert {
  background: #900 image-url("button_overlay.png?1") repeat-x;
  color: #fff;
  border: 0;
  margin: 5px 0 10px 0;
  padding: 5px;
  text-align: center;
}

#footer #notice {
  background: #090 image-url("button_overlay.png?1") repeat-x;;
  color: #fff;
  border: 0;
  margin: 5px 0 10px 0;
  padding: 5px;
  text-align: center;
}

#errorExplanation h2 { display: none; }

.field_with_errors label {
  font-weight: bold;
  color: #f00;
}

#errorExplanation p {
  font-family: Arial;
  font-size: 2em !important;
  font-weight: normal;
  letter-spacing: -1px;
  margin: 0 0 10px;
  padding: 0 0 1px;
  text-shadow: 1px 1px 0 #CCCCCC;
}

#errorExplanation li {
  list-style-type: disc;
  margin: 0 0 0 15px;
}

#page .boxes .active_div { background: image-url("box_active.png?1") 50% 0 no-repeat; }
#page .boxes .active_div h2 { text-shadow: 1px 1px 0 #e4ffe4; }

#page .boxes .active_div_error { background: image-url("box_error.png?1") 50% 0 no-repeat; }
#page .boxes .active_div_error h2 { text-shadow: 1px 1px 0 #faa; }

/* HEADER ------------------------------------------------------------------------------------------------------------------------- */

#header {
  /*padding: 0 0 7px 0;*/
  border-bottom: 3px #666 solid;
}

  #header_content {
  	overflow: hidden;
  	width: 1280px;
  	margin: 0 auto;
  }

  #logo {
  	float: left;
  	background: image-url("logos/logo.png") 0 0 no-repeat;
  	width: 330px;
  	height: 100px;
  	color: #fff;
  	outline: none;
  }
  
  #search {
  	float: left;
  	padding: 10px 0 0 10px;
  	margin: 0 0 0 20px;
  	position: relative;
  }
  
    #search form {
      overflow: hidden;
      display: block;
    }
    
    #search input {
      float: left;
      background-color: #222;
      border: 1px #444 solid;
      color: #fff;
      padding: 5px 7px;
      height: 13px;
    }
    
    #search #q {
      background: #222;
      width: 145px;
      height: 20px;
      padding: 5px 7px 6px;
      *padding: 7px 7px 4px;
      line-height: 20px;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-width: 1px 0 1px 1px;
      -moz-border-radius: 5px 0 0 5px;
      -webkit-border-radius: 5px 0 0 5px;
      border-radius: 5px 0 0 5px;
      color: #999;
      font-size: 0.9em;
    }
    
    #search #q:focus {
      color: #fff;
    }
    
    #search input.submit {
      width: 24px;
      *width: 28px;
      height: 33px;
      padding: 0;
      border-width: 1px 1px 1px 0px;
      *border-width: 1px 1px 1px 1px;
    	background-position: 0 -32px;
    	*background-position: 4px -32px;
      -moz-border-radius: 0 5px 5px 0;
      -webkit-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }

    #search p {
      margin: 6px 0 4px 4px;
      color: #fff;
      font-size: 0.8em;
    }
    
      #search p a {
        font-size: 1.1em;
        color: #aaf;
      }

#menu_wrapper { float: right; }

#user_menu {
  display: inline-block;
  text-align: right;
  float: right;
  margin: 10px 10px 6px 0;
}

#header #user_menu li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	height: 46px;
	margin-left: 5px;
}

#header ul#user_menu a,
#header ul#user_menu a:visited,
#header ul#user_menu a:link {
	padding: 6px 12px 8px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 5px;
}

#user_menu li a img.icon {
  top: 2px;
  margin-right: 7px;
}

#profile {
  border: 1px #666 solid;
  padding: 1px;
	margin: 8px 0 0 0;
	float: right;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 80px;
	height: 80px;
	background: image-url("avatar_dark.jpg?1") 50% 50% no-repeat;
	position: relative;
}

  #profile div {
  	-moz-border-radius: 3px;
  	-webkit-border-radius: 3px;
  	border-radius: 3px;
  	width: 80px;
  	height: 80px;
  }
  
  #profile a {
    position: absolute;
    padding: 2px 0 0 0;
    background: rgba(0,0,0,0.5);
    color: #fff;
    bottom: 1px;
    left: 1px;
    right: 1px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
  }

ul#menu {
	color: #fff;
  margin: 0 10px 0 0;
  clear: both;
  text-align: right;
}

ul#menu li {
	margin-left: 4px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

#header ul a,
#header ul a:visited,
#header ul a:link {
	color: #fff;
	background: #333;
	background: -moz-linear-gradient(bottom, #444, #222);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(68, 68, 68)), color-stop(1, rgb(34, 34, 34)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#444444', EndColorStr='#222222', GradientType=0);
	padding: 1px 7px 5px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	outline: none;
	display: block;
	text-shadow: 1px 1px 1px #000;
	font-family: Arial, Tahoma, sans-serif;
	position: relative;
}

#header ul a small {
  position: absolute;
  font-weight: normal;
  right: 5px;
  top: -5px;
}

#container #header #menu_wrapper ul a:hover,
#container #header #menu_wrapper ul a.active {
	background: #da0c87;
	background: -moz-linear-gradient(bottom, #da0c87, #830952);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(218,12,136)), color-stop(1, rgb(131,9,82)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#da0c87', EndColorStr='#830952', GradientType=0);
}

#header ul a:active {
	background: #ab0b6b;
	background: -moz-linear-gradient(bottom, #da0c87, #830952);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(218,12,136)), color-stop(1, rgb(131,9,82)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#da0c87', EndColorStr='#830952', GradientType=0);
}

#header ul img.icon { margin: 0 5px 0 0; }

#header ul#menu.logged_out {
  margin-top: 33px;
}

#header ul#menu.logged_out a {
	color: #fff;
	background: #333;
	background: -moz-linear-gradient(bottom, #444, #222);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(68, 68, 68)), color-stop(1, rgb(34, 34, 34)));
	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#444444', EndColorStr='#222222', GradientType=0);
	padding: 6px 14px 8px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
	outline: none;
	display: block;
	margin-top: 5px;
	font-family: Arial;
}

/* CALENDAR ------------------------------------------------------------------------------------------------------------------------- */

#month_navigation h1 {
	margin: 0 auto;
	font-family: Arial;
	letter-spacing: -1px;
	font-size: 2.4em;
	text-align: center;
	padding: 0;
}

#month_navigation h2 {
	font-size: 1.6em;
	font-weight: normal;
	margin: 0 20px 0 20px;
	text-shadow: none;
}

#page h3.month {
	margin: -5px auto 10px auto;
	padding: 0;
	text-align: center;
	font-size: 0.8em;
	color: #ccc;
	width: 100px;
	font-family: Tahoma, Verdana, Helvetica, Arial, Sans-serif;
	text-shadow: none;
}

#calendar {
	margin: 0 auto;
	width: 100%;
	font-size: 1em;
}

#calendar a {
	font-size: 1em;
	color: #000;
	border-bottom: 1px #aaf solid;
}

#calendar a:hover {
	font-size: 1em;
	color: #77f;
	border-bottom: 1px #000 solid;
}

#calendar a.premiere {
	color: #3db901;
	font-size: 1.1em;
	border-color: #000;
}

a.premiere:hover {
	color: #000;
	font-size: 1.1em;
	border-color: #3db901;
}

#calendar .calendar_day_other_month a {
	font-size: 1em;
	color: #999;
	border-bottom: 1px #aaf solid;
}

#calendar .calendar_day_other_month a:hover {
	font-size: 1em;
	color: #7777FF;
	border-bottom: 1px #999 solid;
}

#calendar th { text-align: center; }
#calendar tr td { height: 100px; }

.calendar_date {
	border: 1px #ccc solid;
	background-color: #D6D6D6;
	font-weight: bold;
	padding: 2px;
}

.calendar_cell_content {
	padding: 5px;
	margin-bottom: 0;
}

.calendar_cell_content li { padding-bottom: 5px; }

.calendar_weekday_name {
	width: 13%;
	height: 1%;
}

.calendar_weekday_name div {
	text-align: center;
}

.calendar_today {
	width: 13%;
	height: 10%;
	vertical-align: top;
	font-size: 0.9em;
	background: #fffbdd image-url("cell_bg_today.png?1") 0 0 repeat-x;
}

.calendar_day {
	width: 13%;
	height: 10%;
	vertical-align: top;
	font-size: 0.9em;
}

.calendar_day_other_month {
	width: 13%;
	height: 10%;
	vertical-align: top;
	color: #999;
	font-size: 0.9em;
}

.calendar_day, .calendar_day_other_month {
	background: #fff image-url("cell_bg.png?1") 0 0 repeat-x;
}

.calendar_day_other_month .calendar_date {
	border: 1px #ddd solid;
	background-color: #eee;
	font-weight: bold;
	padding: 2px;
}

/* AUTO COMPLETE ------------------------------------------------------------------------------------------------------------------------- */

.auto_complete {
	margin: 0;
	padding: 0;
	width: 398px;
}

.auto_complete ul {
	border-top: 0 solid #fff;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	border-left: 2px solid #ccc;
	background: #fff;
	position: relative;
	top: -3px;
}

.auto_complete li {
	padding: 5px;
	margin: 0;
	width: 403px;
}

.auto_complete .selected {
	background-color: #FFFFBB;
	padding: 5px;
}

.auto_complete .selected .warning {
	background-color: #FF0000;
}

.auto_complete li .warning {
	background-color: #FF0000;
	color: #fff;
	padding: 5px;
	margin: -5px;
}

.auto_complete .highlight { color: #880000; }

/* Start ------------------------------------------------------------------------------------------------------------------------- */

#screenshots {
  position: absolute;
  width: 660px;
  height: 587px;
  background: image-url("start/screenshots.jpg?1") 0 0 no-repeat;
  left: 580px;
  bottom: 0;
}

#start {
  padding: 30px 0 50px 30px;
}

  #start h1 {
    font-size: 4.5em;
    text-transform: uppercase;
    text-indent: -9999px;
    background: image-url("start/heading.png?1") 0 0 no-repeat;
    margin: 0;
  }
  
  #start h3 {
    font-size: 25px;
    font-weight: normal;
    width: 600px;
    margin: 0 0 50px 0;
  }
  
  #start ul
  {
    width: 400px;
  }
  
    #start li {
      padding: 10px 0 0 90px;
      margin: 0 0 15px 15px;
      height: 75px;
    }
  
    #start li.calendar { background: image-url("start/calendar.png?1") 0 0 no-repeat; }
    #start li.mail { background: image-url("start/mail.png?1") 0 0 no-repeat; }
    #start li.tick { background: image-url("start/tick.png?1") 0 0 no-repeat; padding-top: 0; }
  
      #start li p {
        font-size: 17px;
        margin: 0;
      }
  
      #start li h2 {
      	margin: 0;
      }
  
  #start .big_button {
  	margin: 50px 0 1em 105px;
  }
  
  #start #public {
  	display: block;
  	font-size: 1.2em;
  	width: 252px;
  	margin: 2em 0 1em 105px;
  	text-align: center;
  }
  
  #public_box {
    font-size: 1.2em;
    margin-top: 2em;
  }
  
  #public_box .big_button {
    margin: 2em auto;
  }

/* HELP --------------------------------------------------------------------------------------------------------------------------- */

#help {
  margin-top: 2em;
  padding: 7px 14px;
  background: #f6f6f6;
  border: 1px #eee solid;
}

/* REQUEST --------------------------------------------------------------------------------------------------------------------------- */

#request_header {
  overflow: hidden;
  height: 115px;
}

#request_header h1 {
  margin: 0 0 18px 0;
  font-weight: bold;
  font-size: 2.75em;
}

#requested_shows {
  margin: 20px 0 0 0;
}

  #requested_shows li {
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #333;
    overflow: hidden;
  }
  
  #requested_shows p {
    float: left;
    font-size: 13px;
    margin: 0;
    width: 800px;
  }
  
  #requested_shows p.add {
    float: right;
    text-align: right;
    width: 300px;
    padding: 0 0 3px 0;
  }
  
/* INFO --------------------------------------------------------------------------------------------------------------------------- */

#features_wrapper {
  width: 1224px;
  margin: 0 auto;
}

#features_wrapper h1 {
  font-size: 2.75em;
  margin: 0;
  font-weight: bold;
}

#features_wrapper h2 {
  margin: 0 0 0.5em 0;
  font-weight: bold;
  font-size: 2.3em;
}

#features {
  overflow: hidden;
  margin: 40px 0 70px 0;
}

  #features li {
    margin: 0 10px;
    float: left;
    width: 388px;
  	background: image-url("info/plate.png?1") 0 0 no-repeat;
  	padding: 4px 0 15px 0;
  	text-align: center;
  }

  #features h2 {
    margin: 30px 0 0 0;
    font-size: 2.0em;
    font-weight: normal;
  }

  #features p {
    font-size: 15px;
    margin: 5px 0 0 0;
    padding: 0 30px;
  }

#additional {
  overflow: hidden;
  margin: 30px 0 50px 0;
  padding: 0 0 20px 0;
}

  #additional li {
    margin: 0 10px;
    float: left;
    width: 242px;
  	background: image-url("info/feature_box.png?1") 0 100% no-repeat;
  	padding: 0 20px 15px 20px;
  	position: relative;
  }

    #additional img {
      margin: 0 15px 0 0;
      float: left;
    }

    #additional img.coming_soon {
      position: absolute;
      bottom: 10px;
      right: -25px;
    }

    #additional h3 {
      margin: 18px 0 0 0;
      font-size: 20px;
      text-shadow: none;
    }
  
    #additional p {
      font-size: 13px;
      margin: 0;
    }

#apps {
  overflow: hidden;
  margin: 30px 0 80px 0;
}

  #apps li {
  	background: image-url("info/small_plate.png?1") 0 100% no-repeat;
    margin: 0 10px;
    float: left;
    width: 246px;
    height: 160px;
  	padding: 0 20px 15px 20px;
  }
  
    #apps li img {
      margin: 0 10px 0 0;
      float: left;
    }
  
    #apps h3 {
      margin: 0 0 0.5em 0;
      font-size: 20px;
      text-shadow: none;
      line-height: 1;
    }
  
    #apps p {
      font-size: 13px;
      margin: 0 0 1em 0;
    }

#contact h2 {
  text-align: left;
}

#contact p {
  font-size: 14px;
}

#contact .separator {
  border-right: 1px #ccc solid;
  padding: 0 50px 10px 0;
  width: 300px;
}

#contact h2 {
  margin: 0 0 0.5em 0;
  font-weight: bold;
  font-size: 2.3em;
}

#contact h3 {
  margin: 0 0 0.5em 0;
  font-weight: bold;
  font-size: 1.3em;
}

#contact fieldset {
  background: image-url("info/contact_box.png?1") 0 0 no-repeat;
  width: 803px;
  float: right;
  border: 0;
  margin: 0 0 20px 0;
}

#contact fieldset .pad {
  background: image-url("info/contact_box.png?1") 0 0 no-repeat;
}

#contact textarea {
  width: 478px;
}

#ticket_human { display: none; }

/* FOOTER ------------------------------------------------------------------------------------------------------------------------- */

#footer {
	background-color: #000;
	border-top: 3px #666 solid;
}

  #footer_content {
  	color: #fff;
  	padding: 30px 0 30px 0;
  	width: 1280px;
  	margin: 0 auto;
  	/*background: image-url("footer_box.png?1") 0 30px repeat-x;*/
  	overflow: hidden;
  }

    #footer .box {
      background: #212121; /* Old browsers */
      background: -moz-linear-gradient(top, #212121 0%, #000000 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#212121), color-stop(100%,#000000)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #212121 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #212121 0%,#000000 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #212121 0%,#000000 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#212121', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #212121 0%,#000000 100%); /* W3C */
    	width: 360px;
    	float: left;
    	padding: 10px 27px 5px 27px;
    	-moz-border-radius: 20px;
    	-webkit-border-radius: 20px;
    	border-radius: 20px;
    	border: 0;
    	min-height: 310px;
    	*height: 310px;
    }

    #footer .middle { margin: 0 19px; }
    
    #footer h3 {
    	padding: 0;
    	margin-bottom: 5px;
    	font-family: Arial;
    	letter-spacing: -1px;
    	font-size: 2em;
    	line-height: 1.5em;
    	text-align: center;
      text-shadow: 2px 2px 1px #000;
      font-weight: normal;
    }
    
    #footer ul {
    	padding: 10px 0;
    }
    
      #footer li { line-height: 1.5em; border-bottom: 1px #333 dotted; }
      
      #recently_favorited li {
        padding: 3px;
      }
      #recently_favorited li a {
      	color: #fff;
      	border-bottom: 1px #77f solid;
      }
    
      #footer li span {
        font-size: 11px;
        color: #999;
      }
      
    #follow {
      border-bottom: 1px dotted #333;
      padding: 0 0 15px 0;
      margin: 0 0 15px 0;
    }
    
    #frexuz_logo
    {
      display: block;
      float: right;
    	background: image-url("logos/frexuz_logo.png?1") 0 0  no-repeat;
    	width: 226px;
    	height: 43px;
    	outline: none;
    }
    
    #rails_logo
    {
      overflow: hidden;
      border-bottom: 1px dotted #333;
      padding: 0 0 15px 0;
      margin: 0 0 15px 0;
    }
    
      #rails_logo img
      {
        float: left;
        margin: 0 10px 0 0;
      }
      
      #rails_logo p
      {
        margin: 0 0 0 60px;
      }

/* TOP SEARCH ------------------------------------------------------------------------------------------------------------------------------ */

#search_box img {
  position: absolute;
  margin-top: -10px;
}

#search_box input.search {
  font-size: 1.5em;
  padding: 5px 7px 5px 10px;
  width: 400px;
  margin-left: 58px;
  margin-right: 5px;
}

#search_box .quick_add { margin: 0; }
#search_box .quick_add a {
  color: #000;
  border-bottom: 3px #2eac49 solid;
}

/* SHOW LIST ------------------------------------------------------------------------------------------------------------------------------ */

#page .shows {
  width: 1212px;
  margin: 0 auto;
  overflow: hidden;
}
  
  #page .shows li {
    float: left;
    background: #f6f6f6;
    width: 268px;
    line-height: 1.5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 10px 5px 10px;
    padding: 5px;
    border: 1px #eee solid;
    height: 54px;
  }

  #page .shows li.popular {
    height: 160px;
  }

  #page .shows li:hover {
    border-color: #bbb;
  }
  
  #page .shows li.selected {
    border-color: green;
  }
  
    #page .shows li .banner {
      width: 252px;
      background: image-url("missing_banner.jpg?1") 0 0 no-repeat;
      height: 86px;
      padding: 7px;
      border: 1px solid #333;
      margin: 0 0 4px 0;
    }
  
      #page .shows li .banner img {
        width: 252px;
        height: 86px;
      }
  
      #page .shows li .banner a {
        display: block;
        border: 0;
    }

    #page .shows li a {
      color: #000;
      border-bottom: 1px #aaf solid;
      font-weight: bold;
    }

    #page .shows li p {
      font-size: 11px;
      margin: 0;
      color: #999;
    }

    #page .shows li p strong {
      color: #f00;
    }

  #page .shows li.selected p {
    color: #0f0;
  }

#top_shows {
  margin-bottom: 20px;
}

  #top_shows .shows li p {
    margin: 0 0 0 21px;
  }

/* MY SHOWS ------------------------------------------------------------------------------------------------------------------------------ */

.my_shows .ui-checkbox,
.season_list .ui-checkbox {
  top: 1px;
}

.my_shows {
  margin: 0 0 2em 0;
}

.my_shows td {
  padding: 4px 12px 7px 12px;
  max-width: 300px;
}

.my_shows td em {
  color: #999;
  font-size: 10px;
  font-style: normal;
  display: block;
  margin: 3px 0 0 0;
}

.my_shows tr:hover td {
  background: #fdffbe;
}

.my_shows strong a {
	color: #000;
	border-bottom: 1px #aaf solid;
}

.my_shows strong a:hover {
	color: #7777FF;
	border-bottom: 1px #000 solid;
}

.my_shows img.status_green,
.my_shows img.status_red,
.my_shows img.status_normal,
.my_shows img.television_on,
.my_shows img.television_off {
  display: block;
  float: left;
  margin: 7px 12px 0 0;
}

.my_shows em.green
{
  color: #990;
}

#status_legend {
  position: absolute;
  top: 39px;
  padding: 0 0 0 14px;
}

  .bar #status_legend { top: 18px; }

  #status_legend dt {
    float: left;
  }
  
  #status_legend dd {
    float: left;
    margin: 0 15px 0 5px;
    font-size: 10px;
    color: #999;
  }

  .bar #status_legend dd { line-height: 20px; }

  #status_legend dd.red { color: #f00; }
  #status_legend dd.green { color: #990; }
  
  #status_legend dt.tip { margin-left: 20px; }
  
#bottom_legend {
  border-top: 1px #ccc dotted;
  padding: 15px 0 0 0;
  margin: 20px 0 0 0;
}

  #bottom_legend .premiere {
  	color: #3db901;
  	font-size: 11px;
  	border-color: #000;
  	border-bottom: 1px solid #000;
  	margin: 0 5px 0 0;
  	position: relative;
  	top: -1px;
  }
  
  #bottom_legend .normal {
    border-bottom: 1px solid #AAAAFF;
    color: #000000;
    font-size: 10px;
  	position: relative;
  	top: -1px;
  }

  #quick_note {
    padding: 0 13px;
    font-style: italic;
  }
  
    #quick_note .icon {
      margin: 0 5px 0 0;
    }
  
/* SHOW ------------------------------------------------------------------------------------------------------------------------------ */

#show_info {
	clear: both;
	height: 229px;
	position: relative;
}

  #show_info .banner img {
    margin: 0 0 2px 0;
  }

  #show_info .banner {
    float: left;
    width: 758px;
    position: relative;
  }

  #show_info .banner_shadow {
  	background: image-url("banner_shadow.png?1") 0 0 no-repeat;
    width: 758px;
    height: 82px;
    position: absolute;
    z-index: 9999;
  }

  #show_info h1 {
    float: left;
    font-size: 4em !important;
  	color: #000;
    text-shadow: 1px 1px 0 #ccc;
    position: absolute;
    top: 0;
    left: 20px;
    margin: 0 20px 0 0;
    z-index: 9999;
    width: 700px;
  }

#show_info h2 {
  font-size: 1.5em;
  font-weight: normal;
  *margin-top: 10px;
  clear: both;
}

  #show_info h2 img {
    top: 6px;
  }
  
  #show_info h2 a span {
    border-bottom: 1px #aaf solid;
    color: #000;
    text-shadow: none;
  }
  
  #add_button {
  	background: image-url("add_button.png?1") 0 100% repeat-x;
    display: block;
    line-height: 39px;
    width: 118px;
    padding: 0 0 0 32px;
    margin: 16px auto 0 auto;
    color: #fff;
    font-weight: bold;
  }
  
  #secondary_show_info {
    float: right;
  }

  #time_and_network {
    overflow: hidden;
    clear: both;
    padding: 10px 20px 0 20px;
  }
  
    #time_and_network .icon {
      margin: 0 0 0 10px;
    }
  
    #time_and_network .icon:first-child {
      margin: 0;
    }
  
  #add_or_like {
    margin: 0 20px;
  }
  
  #secondary_show_info #add_or_like .icon {
    top: 6px;
  }

  #secondary_show_info #add_or_like strong {
    font-size: 14px;
  }

#no_show_episodes {
  margin: 20px 0 0 0;
}

#no_show_episodes p {
  margin: 20px 0 0 0;
  font-size: 16px;
}

#no_show_episodes h2 {
  margin-bottom: 40px;
 }

h3#season_pagination_header {
  font-size: 16px;
  text-shadow: none;
  margin: 10px 0;
}

#season_pagination {
  overflow: hidden;
  margin: 0 0 20px 0;
}

  #season_pagination li {
    float: left;
  	background: image-url("sprites/pagination_tabs.png?1") 100% -24px no-repeat;
  	margin: 0 -1px 0 0
  }

  #season_pagination li a {
  	background: image-url("sprites/pagination_tabs.png?1") 0 0 no-repeat;
    display: block;
  	line-height: 26px;
  	height: 24px;
  	text-align: center;
  	color: #aaa;
  	font-size: 15px;
  	font-weight: bold;
  	padding: 0 20px;
  	font-family: arial, sans-serif;
  }
  #season_pagination li a:hover { color: #da0c87; }
  
  #season_pagination li.selected { background-position: 100% -72px; }
  #season_pagination li.selected a {
  	background: image-url("sprites/pagination_tabs.png?1") 0 -48px no-repeat;
  	color: #fff;
  }
  
.options {
  float: right;
  margin: 3px 0 0 0;
}

/* PROGRESS ------------------------------------------------------------------------------------------------------------------------------ */

#progress {
  padding: 0.5em;
  height: 57px;
}
  #progress .header {
    font-weight: bold;
    overflow: hidden;
  }
  
    #progress .header div {
      height: 16px;
      width: 165px;
      overflow: hidden;
      display: inline-block;
      background: image-url("sprites/smileys.png?1") 0 0 no-repeat;
      margin-left: 6px;
      float: left;
    }
    
    #progress .header p {
      margin: 0;
      line-height: 16px;
      float: left;
    }
    
    #progress .header .cry      { background-position: 0   0; }
    #progress .header .mad      { background-position: 0 -16px; }
    #progress .header .sad      { background-position: 0 -32px; }
    #progress .header .neutral  { background-position: 0 -48px; }
    #progress .header .smile    { background-position: 0 -64px; }
    #progress .header .grin     { background-position: 0 -80px; }
    #progress .header .cool     { background-position: 0 -96px; }
    
    #progress .header span {
      display: inline-block;
      *display: inline;
      float: right;
      color: #999;
      font-size: 10px;
      font-weight: normal;
      padding: 5px;
    }
    

  #progress_bar_wrapper {
    border: 1px #aaa solid;
    padding: 1px;
    display: none;
    margin: 0 0 5px 0;
  }
  
    #progress_bar {
      overflow: hidden;
      height: 32px;
      background: #fff image-url("sprites/progress_bars.png?1") 0 100% repeat-x;
    }
    
      #progress_bar .bar {
        float: left;
        background: #009700 image-url("sprites/progress_bars.png?1") 0 0 repeat-x;
      }
      
      #progress_bar .seen {
        text-align: right;
      }
      
        #progress_bar .bar p {
          line-height: 32px;
          margin: 0;
          font-weight: bold;
          font-size: 10px;
          color: #fff;
          padding: 0 0.5em;
        }

/* SEASON LIST --------------------------------------------------------------------------------------------------------------------------- */

#show_anchors h1 {
  margin: 0 0 18px 0;
  font-weight: bold;
  font-size: 2.75em;
  display: inline-block;
}

#unwatched_loader {
  margin: 0 0 0 20px;
  position: relative;
  top: -4px;
}

#reload {
  margin: 0 0 0 20px;
  position: relative;
  top: -4px;
}

#show_anchors ul {
  overflow: hidden;
  margin: 0 0 25px 0;
}
  
  #show_anchors ul li {
    float: left;
    margin: 0 5px 5px 0;
    overflow: hidden;
  }
  
    #show_anchors ul a,
    #show_anchors ul a:visited,
    #show_anchors ul a:link {
    	color: #fff;
    	background: #333;
    	background: -moz-linear-gradient(bottom, #444, #222);
    	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(68, 68, 68)), color-stop(1, rgb(34, 34, 34)));
    	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#444444', EndColorStr='#222222', GradientType=0);
      padding: 7px 12px;
    	-moz-border-radius: 4px;
    	-webkit-border-radius: 4px;
    	border-radius: 4px;
    	font-size: 14px;
    	font-weight: bold;
    	outline: none;
    	display: block;
    	text-shadow: 1px 1px 1px #000;
    	font-family: Arial, Tahoma, sans-serif;
    	white-space: nowrap;
    }
    
    #show_anchors ul a:hover,
    #show_anchors ul a.selected {
    	background: #da0c87;
    	background: -moz-linear-gradient(bottom, #da0c87, #830952);
    	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(218,12,136)), color-stop(1, rgb(131,9,82)));
    	filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#da0c87', EndColorStr='#830952', GradientType=0);
    }

.season_list {
  margin: 0 0 50px 0;
}

#page .season_group h2,
#page .season_group_static h2 {
  margin: 0 0 20px 0;
}

.season_group h3,
.season_group_static h3 {
  margin: 0 0 10px 10px;
}

.season_group h3 a,
.season_group_static h3 a {
  color: #000;
  border-bottom: 1px solid #6481E7;
}

.season_group h3 a:hover,
.season_group_static h3 a:hover {
  color: #6481E7;
  border-bottom: 1px solid #000;
}

.season_list .episode {
  overflow: hidden;
  border: 1px #ddd solid;
  margin: 0 0 5px 0;
  background: #f2f2f2;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}

.season_list .odd {
  background: #fcfcfc;
}

.season_list .episode:hover {
  background: #fbffc0;
}

.season_list .highlighted { background-color: #FBFF8F; }

  .season_list .name {
    float: left;
    width: 290px;
    border-right: 1px #ddd solid;
    margin-right: 25px;
    padding-right: 10px;
  }
  
  .season_list .overview {
    float: left;
    width: 555px;
    padding: 1px 0 0 0;
  }

  .season_list .overview .toggle {
    white-space: nowrap;
  }
  
  .season_list .date {
    float: left;
    width: 200px;
    border-left: 1px #ddd solid;
    border-right: 1px #ddd solid;
    margin: 0 25px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
  }
    
    .season_list .date span {
      display: block;
      margin: 0 0 2px 0;
      font-size: 11px;
      font-weight: normal;
      color: #999;
    }

  .season_list .seen {
    float: left;
    width: 110px;
  }
  
    .season_list .seen span {
      font-size: 11px;
      font-weight: normal;
      color: #999;
    }

  .season_list a.edit_link {
    outline: none;
    visibility: hidden;
    font-size: 10px;
  }
  
  .season_list .episode:hover a.edit_link {
    visibility: visible;
  }

.season_group .season_loader {
  margin: 0 0 50px 0;
}

.rating {
  width: 160px;
  margin: 0 10px 0 0;
  background: image-url("sprites/stars.png?1") 0 0 repeat-x;
  /*float: left;*/
}

  .rating span {
    display: block;
    height: 16px;
    background: image-url("sprites/stars.png?1") 0 100% repeat-x;
  }
  
  .rating span.r0 { width: 0px; }
  .rating span.r05 { width: 8px; }
  .rating span.r1 { width: 16px; }
  .rating span.r15 { width: 24px; }
  .rating span.r2 { width: 32px; }
  .rating span.r25 { width: 40px; }
  .rating span.r3 { width: 48px; }
  .rating span.r35 { width: 56px; }
  .rating span.r4 { width: 64px; }
  .rating span.r45 { width: 72px; }
  .rating span.r5 { width: 80px; }
  .rating span.r55 { width: 88px; }
  .rating span.r6 { width: 96px; }
  .rating span.r65 { width: 104px; }
  .rating span.r7 { width: 112px; }
  .rating span.r75 { width: 120px; }
  .rating span.r8 { width: 128px; }
  .rating span.r85 { width: 136px; }
  .rating span.r9 { width: 144px; }
  .rating span.r95 { width: 152px; }
  .rating span.r10 { width: 160px; }

/* SEARCH RESULTS ------------------------------------------------------------------------------------------------------------------------------ */

#search_results td {
  padding: 4px 12px 7px 12px;
  max-width: 300px;
}

#search_results tr:hover td {
  background: #fdffbe;
}

#search_results h3 a {
	color: #000;
	border-bottom: 1px #aaf solid;
	font-size: 1.4em;
}

#search_results a.add {
  border: none;
  display: block;
  float: left;
  margin-right: 10px;
}

#search_results h3 a strong {
  background: yellow;
}

#search_results h3 a:hover {
	color: #7777FF;
	border-bottom: 1px #000 solid;
}

#search_results a.red {
  display: block;
  float: left;
  margin: 8px 15px 5px 0;
}

#search_results td em {
  color: #999;
  font-size: 10px;
  font-style: normal;
  display: block;
  margin: 3px 0 0 0;
}

#search_results em.green
{
  color: #990;
}

/* SETTINGS ------------------------------------------------------------------------------------------------------------------------------ */

#settings h1 {
  margin: 0 0 28px 0;
  font-weight: bold;
  font-size: 2.75em;
  float: left;
}

#settings h2 {
  font-size: 2.4em;
  margin: 0 0 1em 0;
}

#settings #notice,
#settings #error {
  float: left;
  margin: 12px 0 0 20px;
  clear: none;
}

#settings p {
  font-size: 14px;
  line-height: 1.25;
}

  #settings_pagination {
    overflow: hidden;
    margin: 0 0 50px 0;
    clear: both;
  }
  
    #settings_pagination li {
      float: left;
    	background: image-url("sprites/settings_tabs.png?1") 100% -38px no-repeat;
    }
  
    #settings_pagination li a {
    	background: image-url("sprites/settings_tabs.png?1") 0 0 no-repeat;
      display: block;
    	line-height: 42px;
    	height: 38px;
    	text-align: center;
    	color: #000;
    	font-size: 15px;
    	font-weight: bold;
    	padding: 0 20px 0 15px;
    	font-family: Arial, sans-serif;
    	outline: none;
    }
    
    #settings_pagination li .icon {
      top: 7px;
      margin: 0 5px 0 0;
    }
    #settings_pagination li a:hover { color: #da0c87; }
    
    #settings_pagination li.selected { background-position: 100% -114px; }
    #settings_pagination li.selected a {
    	background: image-url("sprites/settings_tabs.png?1") 0 -76px no-repeat;
    	color: #fff;
    }
    
  #content_carousel {
    width: 1280px;
    position: relative;
    overflow: hidden;
    min-height: 320px;
    *height: 320px;
  }
  
    #content_carousel #carousel_items {
      left: 0;
      top: 0;
      overflow: hidden;
      width: 8960px;
    }
  
      #carousel_items .item {
        width: 1280px;
        float: left;
      }
      
#setting_formatting {
  margin: 0 0 50px 0;
}
  
  #setting_formatting .setting {
  	float: left;
  	margin: 0 6px 6px 0;
  	padding: 5px;
  	background: #fff;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  }
  
  #setting_formatting .setting:hover {
    background: #eecae0;
  }
  
  #setting_formatting .active,
  #setting_formatting .active:hover {
    background: #bd0c75;
  }
  
  #setting_formatting .group {
  	float: left;
  }
  
    #setting_formatting a {
    	display: block;
    }

    #setting_formatting h3 {
    	font-size: 15px;
    	color: #999;
    	text-align: center;
    	margin: 0 0 20px 0;
    }

    #setting_formatting img {
    	border: 1px solid #eee;
    }

    #setting_formatting p {
    	margin: 0;
    	padding: 10px 10px 5px 10px;
    	color: #999;
    	font-size: 15px;
    	text-align: center;
    	font-weight: bold;
    }

    #setting_formatting .active p,
    #setting_formatting .setting:hover p {
    	color: #fff;
    }

#world_map {
  float: right;
  margin: 0 600px 0 0;
}

#gravatar_video {
  float: right;
  margin: 0 400px 0 50px;
  border: 3px solid #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 1px;
  background: image-url("icons/ajax-loader.gif?1") 50% 50% no-repeat;
}

  #gravatar_video a {
    display: block;
    width: 400px;
    height: 224px;
    background: image-url("settings/gravatar_video.jpg?1") 0 0 no-repeat;
    text-indent: -9999px;
  }

/* USERS -------------------------------------------------------------------------------------------------------------------------------- */

#user_pagination, #show_pagination {
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

#user_pagination a, #show_pagination a {
  border-bottom: 1px solid #aaf;
  color: #000;
}

#user_pagination a.active, #show_pagination a.active {
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #000;
  color: #000;
  position: relative;
  top: -2px;
}

#user_pagination p, #show_pagination p {
  color: #999;
  font-size: 14px;
  margin-top: 5px;
}

#users li, #shows li {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 24%;
  margin-bottom: 10px;
}

#users .avatar p {
  padding: 10px 0 5px 0;
  margin: 0;
}

#users .avatar a {
  border-bottom:1px solid #aaf;
  color:#000;
  font-size:1em;
  font-weight: bold;
}

#users .avatar span {
  font-size: 10px;
  color: #999;
}

#users .image {
  border: 1px solid #999;
  padding: 1px;
  float: left;
  margin-right: 20px;
  height: 60px;
  width: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: image-url("avatar.jpg?1") 50% 50% no-repeat;
}

#users .image a {
  display: block;
  height: 60px;
  width: 60px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
}

.user_profile_image {
  float: left;
  margin: 0 20px 10px 0;
  border: 3px solid #da0c87;
  padding: 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

body.user_profile #page h2 {
  font-size: 3em;
}

/* ADMIN --------------------------------------------------------------------------------------------------------------------------------- */

#unwatched_episodes h2 {
  padding: 5px;
}

#unwatched_episodes h3 {
  font-size: 1.2em;
  padding: 5px;
}

#unwatched_episodes .options {
  margin: 20px 0 0 0;
}

/* ADMIN --------------------------------------------------------------------------------------------------------------------------------- */

#system_log {
  overflow: hidden;
}

  #system_log > li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 19%;
  }

  #system_log li ul {
    border-top: 1px solid #ccc;
    width: 90%;
  }

  #system_log li li {
    padding: 5px 3px;
    border-bottom: 1px solid #ccc;
  }

  #system_log li li:nth-child(2n+1) {
    background: #eee;
  }

  #system_log li li.red strong {
    cursor: help;
  }

#system_status {
  overflow: hidden;
}

  #system_status > li {
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    width: 16%;
    text-align: center;
  }

  #system_status li ul {
  }

/* DEVISE --------------------------------------------------------------------------------------------------------------------------------- */

#devise {
  padding: 30px 0 0 0;
  text-align: center;
}

  #devise h2 {
    margin: 0 0 28px 0;
    font-weight: bold;
    font-size: 2.75em;
  }
  
  #devise input.big {
    font-size: 2em;
    width: 300px;
    text-align: center;
  }

  #devise label {
    font-size: 1.4em;
    text-align: center;
  }

  #devise p.big {
    font-size: 1.4em;
  }
  
  #devise span.ui-checkbox {
    top: 2px;
  }

/* TAG CLOUD ----------------------------------------------------------------------------------------------------------------------------- */

#tag_cloud {
	color: #ccc;
	text-align: center;
}

#tag_cloud li {
	display: inline;
	line-height: 2em;
	border: 0;
}

#tag_cloud a {
	padding: 3px;
	text-decoration: underline;
	line-height: 1.1;
}

#tag_cloud a.tag1  { font-size: 0.80em; font-weight: 100; color: #666; }
#tag_cloud a.tag2  { font-size: 0.85em; font-weight: 200; color: #777; }
#tag_cloud a.tag3  { font-size: 0.90em; font-weight: 300; color: #888; }
#tag_cloud a.tag4  { font-size: 0.95em; font-weight: 400; color: #999; }
#tag_cloud a.tag5  { font-size: 1.00em; font-weight: 500; color: #aaa; }
#tag_cloud a.tag6  { font-size: 1.10em; font-weight: 600; color: #bbb; }
#tag_cloud a.tag7  { font-size: 1.40em; font-weight: 700; color: #ccc; }
#tag_cloud a.tag8  { font-size: 1.80em; font-weight: 800; color: #ddd; }
#tag_cloud a.tag9  { font-size: 2.15em; font-weight: 900; color: #eee; }
#tag_cloud a.tag10 { font-size: 2.40em; font-weight: 900; color: #fff; }

#tag_cloud a:hover {
	color: #66f;
	background-color: #eee;
}

/* TOOLTIP ----------------------------------------------------------------------------------------------------------------------- */

.tip { cursor: help; }

.qtip h3 {
  font-size: 1.2em !important;
  font-family: arial, verdana, serif !important;
  font-weight: bold !important;
  margin-bottom: 0.5em !important;
}

.qtip-content div {
  font-size: 0.9em !important;
  margin: 0.5em 0;
  color: #f00;
}

.qtip-content div.seen {
  color: #3DB901;
}

.hidden { display: none; }

/* CHECKBOXES */

.ui-helper-hidden-accessible { display: none; }

.ui-checkbox {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: image-url("sprites/checkboxes.png?1") 0 -32px no-repeat;
	cursor: pointer;
	outline: none;
}

label.ui-checkbox {
	width: auto;
	height: auto;
	background: none;
}

.ui-helper-hidden {	display: none; }

.ui-radio-state-hover,
.ui-checkbox-state-hover {
	background-position: 0 -48px;
}

.ui-checkbox-state-checked { background-position: 0 0; }
.ui-checkbox-state-checked-disabled { background-position: 0 -96px; }
.ui-checkbox-state-checked-disabled-hover { background-position: 0 -96px; }
.ui-checkbox-state-checked-hover { background-position: 0 -16px; }

.ui-checkbox-state-disabled,
.ui-checkbox-state-disabled-hover { background-position: 0 -112px; }

/* FOOTER SHARES ------------------------------------------------------------------------------------------------------------------------- */

#share {
  clear: both;
  overflow: hidden;
  border-bottom: 1px dotted #333;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

  #share .item {
    float: left;
    margin: 0 0 0 25px;
    border: 0;
  }
  
  #share .item:first-child {
    margin: 0;
  }
  
  #paypal {
    box-shadow: none;
    border: none;
    background: none;
    padding: 0;
    width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

/* AWESOME BUTTONS ----------------------------------------------------------------------------------------------------------------------- */

.awesome, .awesome:link, .awesome:visited {
	background: #222 image-url("button_overlay.png?1") repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover	{ background-color: #111; color: #fff; }
.small.awesome, .small.awesome:visited { font-size: 11px; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited { font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large.awesome, .large.awesome:visited { font-size: 14px; padding: 8px 14px 9px; }

.green.awesome, .green.awesome:visited { background-color: #91bd09; }
.green.awesome:hover { background-color: #749a02; }
.blue.awesome, .blue.awesome:visited { background-color: #2daebf; }
.blue.awesome:hover { background-color: #007d9a; }
.red.awesome, .red.awesome:visited { background-color: #f00; }
.red.awesome:hover { background-color: #a00; }
.magenta.awesome, .magenta.awesome:visited { background-color: #a9014b; }
.magenta.awesome:hover { background-color: #630030; }
.orange.awesome, .orange.awesome:visited	{ background-color: #ff5c00; }
.orange.awesome:hover	{ background-color: #d45500; }
.yellow.awesome, .yellow.awesome:visited { background-color: #ffb515; }
.yellow.awesome:hover	{ background-color: #fc9200; }

/* FACEBOOK LIKE ----------------------------------------------------------------------------------------------------------------------- */

#facebook_button {
  height: 22px;
  display: inline-block;
  width: 90px;
  margin: 8px 0 0 0;
  float: right;
}

  #facebook_button span { display: none; }
