/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

/*@media handheld, only screen and (max-width: 767px) {*/

  #header_content,
  #page,
  #footer_content {
    width: auto;
    padding: 0 10px;
  }

  #menu_wrapper {
      clear: both;
      float: none;
      width: 100%;
  }
  
    #menu_wrapper ul {
        display: inline-block;
        text-align: left;
        margin: 0;
        float: left;
        clear: none;
    }

      #header #user_menu li,
      ul#menu li {
        height: auto;
        margin-left: 5px;
      }
    
      #header ul#user_menu a, #header ul#user_menu a:visited, #header ul#user_menu a:link,
      #header ul a, #header ul a:visited, #header ul a:link {
          background: none;
          padding: 0;
          margin: 5px;
          font-size: 16px;
      }

      #container #header #menu_wrapper ul a:hover, #container #header #menu_wrapper ul a.active {
        background: none;
      }

  #calendar table,
  #calendar thead,
  #calendar tbody,
  #calendar th,
  #calendar td,
  #calendar tr {
    display: block;
  }

  .calendar .calendar_day_other_month,
  .public .calendar_day_other_month,
  .calendar .calendar_day,
  .public .calendar_day,
  .calendar .calendar_today,
  .public .calendar_today {
    width: 100%;
    font-size: 2em;
    margin: 5px;
  }

  .calendar #calendar tr td,
  .public #calendar tr td {
    height: auto;
  }

  #calendar th,
  #print,
  #profile {
    display: none;
  }

  #footer .box {
    width: auto;
    float: none;
  }

  #footer .middle {
    margin: 0;
  }


/*}*/


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}