@import "reset";
@import "mixins";
@import "icons";
@import "modules/font-awesome";

/* Containers
 * ------------------------------------------------------------------------------------------------------------------------- */ 

html {}

body {
  background: #f2f2f2; 
  cursor: default;  
  font-size: 15px;
  font-family: Helvetica, Arial, Sans-serif;
  color: #212121;
}

/* Typography
 * -------------------------------------------------------------------------- */

h1, h2 {
  font-family: Arial;
  margin: 0 0 10px 0;
  text-shadow: 1px 1px 0px #ccc;
 }

h1 {
  font-size: 32px;
  &.big { font-size: 36px; }
}

h2 {
  font-size: 24px;
  &.big { font-size: 28px; }
}

h3 {
  font-family: Arial;
  font-size: 16px;
  &.big { font-size: 20px; }
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  padding: 0 0 0 0;
  &.big { font-size: 17px; }
}

.big p {
  font-size: 17px;
}

.ui-loader {
	border: 6px solid #fff;
	background: #fff;
	opacity: 1;
    width: 32px;
    height: 32px;
    margin-left: -19px;
    margin-top: -19px;
    @include box-shadow(0 0 3px rgba(0,0,0,0.5));
	.ui-icon {
	    background-color: #fff;
	    @include border-radius(0);
	    display: block;
	    height: 32px;
	    margin: 0;
	    padding: 1px;
	    width: 32px;
	}
	.ui-icon-loading {
	    background-attachment: scroll;
	    background-clip: border-box;
	    background-color: transparent;
	    background-image: url("images/ajax-loader.gif");
	    background-origin: padding-box;
	    background-position: 0 0;
	    background-repeat: no-repeat;
	    background-size: 32px 32px;
	}
}

/* Classes
 * -------------------------------------------------------------------------- */

.align-left { text-align: left; }
.center { text-align: center; }
.align-right { text-align: right; }

.margin_top { margin-top: 20px; }
.margin_top_big { margin-top: 50px; }
.margin_bottom { margin-bottom: 20px; }
.margin_bottom_big { margin-bottom: 50px; }

.scrollable {
	position: absolute;
	top: 46px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	& > * {
		-webkit-transform: translate3d(0,0,0);
	}
	& > :last-child:after {
		content: "";
		display: block;
		height: 5px;
		overflow: hidden;
	}
}

.ui-navbar + .scrollable {
	top: 82px;
}

.show_banner {
	overflow: hidden;
	position: relative;
	img {
		//margin-left: -25%;
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 10px #000 inset;
		z-index: 2;
		top: 0;
	}
}

.unpad {
	margin: -15px -15px 15px -15px;
}

.ui-header .toggle-content {
	display: none;
	position: absolute;
	background: #000;
	top: 58px;
	min-width: 200px;
	z-index: 9999;
	@include border-radius(5px);
	margin: 0 0 5px 0;
	@include box-shadow(0 1px 3px rgba(0,0,0,0.75));
	border-top: 1px solid #666;
	&:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #666;
		border-width: 16px;
		top: -33px;
	}
	&:after {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-bottom-color: #000;
		border-width: 16px;
		top: -32px;
	}
}
.toggle-button.ui-btn-active-b + .toggle-content { display: block; }

.main-menu {
	left: 5px;
	padding: 0px 10px;
	&:before {
		left: 25px;
	}
	&:after {
		left: 25px;
	}
	li {
		border-top: 1px dotted #666;
		&:first-child {
			border: 0;
		}
	}
	a {
		display: block;
		padding: 10px 5px 10px 2px;
		color: #fff !important;
	}
	img {
		margin-right: 5px;
	}
	i {
		position: relative;
		top: 2px;
		font-size: 20px;
		margin-right: 5px;
		color: #666;
	}
	.icon-calendar,
	.icon-eye-open,
	.icon-heart { color: #f39; }

	.icon-minus-sign { color: #c33; }

	.icon-lock,
	.icon-key { color: #3c3; }

	.icon-calendar { font-size: 22px; margin-right: 3px; }
	.icon-folder-open { font-size: 18px; margin-left: 1px; margin-right: 6px; }
}

.search {
	right: 5px;
	padding: 1px 5px;
	&:before {
		right: 25px;
	}
	&:after {
		right: 25px;
	}
	form {
		overflow: hidden;
		position: relative;
		display: block;
	}
	input {
		background: #333;
		color: #fff;
		border: 1px solid #111;
		@include border-radius(5px);
		@include transition(all 0.2s ease);
	}
	.ui-btn {
		position: absolute;
		top: 0;
		right: -50px;
		overflow: hidden;
		margin-right: 0;
		@include transition(all 0.2s ease);
		.ui-button-inner {
			padding: 0.45em 11px 0.4em;
		}
	}
	input.filled {
		width: 77%;
	}
	input.filled + .ui-btn {
		right: 0;
	}
}

.month {
	margin-bottom: 10px;
}

#alert {
	background: #c66;
	color: #fff;
	padding: 5px 10px;
	@include border-radius(5px);
}

/* jQuery Mobile Theme overrides
 * ------------------------------------------------------------------------------------------------------------------------- */ 

.ui-body-c, .ui-overlay-c {
	background: #f6f6f6 url("/assets/mobile/background.png");
	background-size: 50% 50%;
	text-shadow: none;
	color: #212121;
}

.ui-btn-inner,
.ui-btn-up-a,
.ui-btn-inner,
.ui-btn-inner:hover,
.ui-btn-up-a:hover,
.ui-btn-inner:hover,
.ui-btn-inner:active,
.ui-btn-up-a:active,
.ui-btn-inner:active {
	border-bottom: 0;
	&:first-child {
		border-top: 0;
	}
}

.ui-header:after {
	content: "";
	position: absolute;
	bottom: -6px;
	height: 10px;
	width: 100%;
	@include linear-gradient(#000, transparent);
	z-index: 2;
	opacity: 0.7;
}

.ui-bar-b {
	border-left: 0;
	border-right: 0;
}

.ui-listview .ui-icon {
	background-image: url(images/icons-18-black.png);
}

.ui-btn-up-a,
.ui-btn-hover-a {
	background: url("/assets/mobile/background.png");
	background-size: 100% 100%;
}

.ui-btn-hover-a {
	border-top: 0;
	border-bottom: 0;
	border-color: #ccc;
}

.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: 0.2em 10px
}

.ui-listview-inset .ui-li {
	border: 0;
}

.ui-listview-inset .ui-li.ui-li-divider {
	text-shadow: 0 1px 0 #000;
	border: 1px solid #DA0C87;
	padding: 0.4em 10px;
}

.ui-li-link-alt {
	border-right: 0;
}

.ui-bar-c {
	border-color: #DA0C87;
}

.ui-btn-up-a {
	border-color: #ccc;
}

.ui-btn-up-a,
.ui-btn-up-a:hover,
.ui-btn-up-a:active {
	border-top: 0;
}

.ui-li + .ui-li {
	border-top: 1px solid #ccc;
}

.ui-btn-inner .ui-shadow {
	box-shadow: none;
}

.ui-listview.ui-shadow {
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
}

.ui-listview.ui-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.ui-btn-up-c,
.ui-btn-up-b {
	text-shadow: 0 1px 0 #000;
}

.ui-collapsible {
	.ui-btn-up-a {
		font-weight: normal;
		font-size: 0.85em;
		padding: 0.4em 10px;
	}
	.ui-li {
		border-left: 0;
		border-right: 0;
	}
}

#time_and_network {
	min-height: 1px;
	img {
		margin-left: 10px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.ui-collapsible-heading .ui-btn-inner, .ui-collapsible-heading .ui-btn-icon-left .ui-btn-inner {
	padding-left: 30px;
}

.ui-navbar.unpad {
	max-width: 200%;
	margin: -15px -19px 0 -16px;
}

.ui-listview .index {
	color: #ccc;
	font-size: 1.2em;
}

ol.ui-listview h3,
ol.ui-listview p {
	padding-left: 20px;
}

img {
	max-width: 100%;
}

.ui-input-text.ui-focus, .ui-input-search.ui-focus,
.ui-focus, .ui-btn:focus {
    box-shadow: none;
}

.ui-checkbox {
	.ui-btn {
		border: 0;
	}
	.ui-btn-icon-left .ui-btn-inner {
		padding-left: 40px;
	}
	.ui-btn-icon-left .ui-icon {
		left: 10px;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.ui-listview .ui-icon {
		background-image: url(images/icons-36-black.png);
	}
}