<div style="text-align: center;">
  <strong><%= @user.login %></strong>, your account has been activated.<br /><br />
  
  You may now login and use the site.<br />
  <a href="<%= @url %>" target="_blank"><%= @url %></a>
</div>