<div style="text-align: center;">
  Request to reset password received for <strong><%= @user.login %></strong><br /><br />
  
  <strong>Visit this url to choose a new password</strong><br />
  <a href="<%= @url %>" target="_blank"><%= @url %></a><br /><br />
   
  <em style="font-size: 0.8em;">(Your password will remain the same if no action is taken)</em>
</div>