<div style="text-align: center;">
  <strong style="font-size: 1.4em;">Your account has been created</strong><br /><br />
  
  <strong>Username</strong><br />
  <%= @user.login %><br /><br />
  
  <strong>Password</strong><br />
  <%= @user.password %><br /><br />
  
  Visit this url to activate your account<br />
  <a href="<%= @url %>" target="_blank"><%= @url %></a>
</div>